* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --animation: 0.3s linear;
    --primary-color: #143c3c;
    --white: #fff;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #efefef;
}

/* Common */

html,
body {
    scroll-behavior: smooth;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}

a {
    text-decoration: none;
}

.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    --height: 57px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 173px;
    height: var(--height);
    line-height: var(--height);
    background: var(--primary-color);
    border: 1.5px solid var(--primary-color);
    border-radius: 99px;

    font-family: "Public Sans", sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: var(--white);
    cursor: pointer;
    transition: var(--animation);
}

.section-label {
    position: relative;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.62;
    color: #152427;
}

.section-heading {
    position: relative;
    font-weight: 600;
    font-size: 4.2rem;
    line-height: 1.24;
    color: #152427;
}

.section-label::before {
    position: absolute;
    content: "";
    width: 25px;
    height: 1px;
    top: 50%;
    transform: translateY(-50%);
    left: -42px;
    background: #152427;
}

/* Header */
.header {
    margin-top: 8px;
    padding: 20px 0 13px;
    background: #efefef;
}

.header-sticky {
    position: sticky;
    top: 0;
    z-index: 11;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header__inner::after {
    content: "";
    position: absolute;
    width: 1140px;
    height: 1px;
    left: 0px;
    top: 70px;

    background: linear-gradient(90deg, #ffffff 0%, #dddcdc 51.09%, rgba(213, 213, 213, 0) 99.68%);
}

/* Navbar */
.navbar__list {
    display: flex;
}

.navbar__link {
    padding: 8px 16px;
    font-family: "Public Sans", sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #575d5e;
    transition: var(--animation);
}

.navbar__link:hover {
    color: #152427;
    text-shadow: 1px 0 0 currentColor;
}

.header-action__btn:hover,
.hero__cta-btn:hover {
    background: var(--white);
    color: var(--primary-color);
}

.navbar__item {
    position: relative;
}

.navbar__item--active::before {
    content: "";
    position: absolute;
    left: 20px;
    bottom: -29px;
    width: 16px;
    height: 2px;
    background: var(--primary-color);
    z-index: 1;
}

/* Hero */
.hero__inner {
    display: flex;
    column-gap: 76px;
    position: relative;
    padding-bottom: 125px;
}

.hero__content {
    font-family: "Public Sans";
    width: 33.4%;
}

.hero__heading {
    margin-top: 103px;
    width: 368px;
    font-weight: 800;
    font-size: 4.3rem;
    line-height: 1.2;
    color: #152427;
}

.hero__desc {
    width: 341px;
    margin-top: 20px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #575d5e;
}

.hero__row {
    margin-top: 40px;
    display: flex;
    align-items: center;
}

.hero__play {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero__play-btn {
    position: relative;
    margin-left: 43px;
    width: 44px;
    height: 44px;
    border: none;
    outline: none;
    border-radius: 50%;
    background: #83a17d;
    cursor: pointer;
    transition: var(--animation);
}

.hero__play-btn::after {
    position: absolute;
    content: url(../icons/hero-decor-01.svg);
    top: -7px;
    left: -7px;
}

.hero__play-btn:hover,
.hero__play-btn:hover .hero__play-btn::after {
    background: var(--primary-color);
    transform: rotate(360deg);
}

.hero__play-watch {
    margin-left: 15px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #152427;
}

.hero__media {
    width: 59%;
    position: relative;
}

.hero__media--blur {
    z-index: -1;
    position: absolute;
    top: 122px;
    left: 203px;
    width: 340px;
    height: 340px;
    border-radius: 50%;
    background-color: #4dbb9a;
    filter: blur(137px);
}

.hero__media-wrap {
    margin-top: 60px;
    display: flex;
    width: 202px;
    height: 466px;
    column-gap: 20px;
    border-radius: 110px;
}

.hero__media-wrap-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.hero__media-wrap-img:nth-last-of-type(2) {
    margin-top: 77px;
    position: relative;
}

.hero__media-decor {
    position: absolute;
    top: 30px;
    left: -209px;
}

.hero__media-decor:last-child {
    position: absolute;
    top: 289px;
    left: 40px;
    transform: rotate(180deg);
}

/* Brand */
.brand {
    margin: 43px 0 53px;
}

.brand__logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e2eddf;
    border-radius: 100.5px;
    padding: 0 121px;
    height: 201px;
}

.brand__logo-item a {
    display: flex;
}

.brand__logo-item:nth-last-of-type(3) {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 39px;
    color: #163c35;
}

.brand__log-name {
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 39px;
    margin-left: 11px;
    color: #163c35;
}

/* Service */
.service {
    padding-top: 53px;
}

.service__label {
    margin-left: 42px;
}

.service__heading {
    margin-top: 12px;
    width: 520px;
}

.service__heading::before {
    content: "";
    position: absolute;
    width: 66px;
    height: 2px;
    top: 80px;
    left: 330px;
    background: #152427;
}

.service-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service__control {
    display: flex;
    column-gap: 17px;
}

.service__control--btn {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background: #e2eddf;
    border: none;
    outline: none;
    color: #152427;
    cursor: pointer;
    transition: var(--animation);
}

.service__control--btn:hover {
    background: #143c3c;
    color: var(--white);
}

.course__list {
    margin-top: 76px;
    display: flex;
    column-gap: 17px;
}

.course__list--item {
    border-radius: 20px;
    overflow: hidden;
    transition: var(--animation);
}

.course__list--item:hover {
    background: #ffffff;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.course__list--item:hover .course__list--item--info {
    padding-left: 18px;
}

.course__list-img {
    border-radius: 20px 20px 0px 0px;
    width: 370px;
    height: 318px;
}

.course__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.course__list--item--info {
    padding: 23px 0;
    transition: var(--animation);
}

.course__list-name {
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
    color: #152427;
}

.course__list-desc {
    margin-top: 18px;
    width: 268px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #7d8188;
}
