* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --animation: 0.3s linear;
    --primary-color: #143c3c;
    --white: #fff;
    --black: #152427;
    --gray: #6a8383;
    --light-green: #e2eddf;
    --light-gray: #7d8188;
    --black-gray: #575d5e;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #efefef;
}

/* Common */

html,
body {
    scroll-behavior: smooth;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}

a {
    text-decoration: none;
}

.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    --height: 57px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 173px;
    height: var(--height);
    line-height: var(--height);
    background: var(--primary-color);
    border: 1.5px solid var(--primary-color);
    border-radius: 99px;

    font-family: "Public Sans", sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: var(--white);
    cursor: pointer;
    transition: var(--animation);
}

.section-label {
    position: relative;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.62;
    color: var(--black);
}

.section-heading {
    position: relative;
    font-weight: 600;
    font-size: 4.2rem;
    line-height: 1.24;
    color: var(--black);
}

.section-label::before {
    position: absolute;
    content: "";
    width: 25px;
    height: 1px;
    top: 50%;
    transform: translateY(-50%);
    left: -42px;
    background: var(--black);
}

/* Loading */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    transition: opacity 0.75s, visibility 0.75s;
    z-index: 99;
}

.loader::after {
    content: "";
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #FFF;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: loading .75s linear infinite;
  }

.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }100% {
        transform: rotate(360deg);
    }
}

/* Header */
.header {
    margin-top: 8px;
    padding: 20px 0 13px;
    background: #efefef;
}

.header-sticky {
    position: sticky;
    top: 0;
    z-index: 11;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header__inner::after {
    content: "";
    position: absolute;
    width: 1140px;
    height: 1px;
    left: 0px;
    top: 70px;

    background: linear-gradient(90deg, #ffffff 0%, #dddcdc 51.09%, rgba(213, 213, 213, 0) 99.68%);
}

/* Navbar */
.header-logo {
    margin-right: auto;
}

.navbar__list {
    display: flex;
    margin-right: 88px;
}

.navbar__link {
    padding: 8px 16px;
    font-family: "Public Sans", sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: var(--black-gray);
    transition: var(--animation);
}

.navbar__link:hover {
    color: var(--black);
    text-shadow: 1px 0 0 currentColor;
}

.header-action__btn:hover,
.hero__cta-btn:hover {
    background: var(--white);
    color: var(--primary-color);
}

.navbar__item {
    position: relative;
}

.navbar__item--active {
    color: var(--black);
    text-shadow: 1px 0 0 currentColor;
}

.navbar__item--active::before {
    content: "";
    position: absolute;
    left: 20px;
    bottom: -29px;
    width: 16px;
    height: 2px;
    background: var(--primary-color);
    z-index: 1;
}

/* Hero */
.hero__inner {
    display: flex;
    column-gap: 76px;
    position: relative;
    padding-bottom: 125px;
}

.hero__content {
    font-family: "Public Sans";
    width: 33.4%;
}

.hero__heading {
    margin-top: 103px;
    width: 368px;
    font-weight: 800;
    font-size: 4.3rem;
    line-height: 1.2;
    color: var(--black);
}

.hero__desc {
    width: 341px;
    margin-top: 20px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: var(--black-gray);
}

.hero__row {
    margin-top: 40px;
    display: flex;
    align-items: center;
}

.hero__play {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero__play-btn {
    position: relative;
    margin-left: 43px;
    width: 44px;
    height: 44px;
    border: none;
    outline: none;
    border-radius: 50%;
    background: #83a17d;
    cursor: pointer;
    transition: var(--animation);
}

.hero__play-btn::after {
    position: absolute;
    content: url(../icons/hero-decor-01.svg);
    top: -7px;
    left: -7px;
}

.hero__play-btn:hover {
    background: var(--primary-color);
}

.hero__play-watch {
    margin-left: 15px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: var(--black);
}

.hero__media {
    width: 59%;
    position: relative;
}

.hero__blur--background {
    z-index: -1;
    position: absolute;
    top: 122px;
    left: 203px;
    width: 340px;
    height: 340px;
    border-radius: 50%;
    background-color: #4dbb9a;
    filter: blur(137px);
}

.hero__media-wrap {
    margin-top: 60px;
    display: flex;
    width: 202px;
    height: 466px;
    column-gap: 20px;
    border-radius: 110px;
}

.hero__media-wrap-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.hero__media-wrap-img:nth-last-of-type(2) {
    margin-top: 77px;
    position: relative;
}

.hero__media-decor {
    position: absolute;
    top: 30px;
    left: -209px;
}

.hero__media-decor:last-child {
    position: absolute;
    top: 289px;
    left: 40px;
    transform: rotate(180deg);
}

/* Brand */
.brand {
    margin: 43px 0 53px;
}

.brand__logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--light-green);
    border-radius: 100.5px;
    padding: 0 121px;
    height: 201px;
}

.brand__logo-item a {
    display: flex;
}

.brand__logo-item:nth-last-of-type(3) {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 39px;
    color: #163c35;
}

.brand__log-name {
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 39px;
    margin-left: 11px;
    color: #163c35;
}

/* Service */
.service {
    padding-top: 53px;
}

.service__label {
    margin-left: 42px;
}

.service__heading {
    margin-top: 12px;
    width: 520px;
}

.service__heading::before {
    content: "";
    position: absolute;
    width: 66px;
    height: 2px;
    top: 80px;
    left: 330px;
    background: var(--black);
}

.service-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service__control {
    display: flex;
    column-gap: 17px;
}

.service__control--btn {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background: var(--light-green);
    border: none;
    outline: none;
    color: var(--black);
    cursor: pointer;
    transition: var(--animation);
}

.service__control--btn:hover {
    background: var(--primary-color);
    color: var(--white);
}

.course__list {
    margin-top: 76px;
    display: flex;
    column-gap: 17px;
}

.course__list--item {
    border-radius: 20px;
    overflow: hidden;
    transition: var(--animation);
}

.course__list--item:hover {
    background: var(--white);
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.course__list--item:hover .course__list--item--info {
    padding-left: 18px;
}

.course__list-img {
    border-radius: 20px 20px 0px 0px;
    width: 370px;
    height: 318px;
    overflow: hidden;
}

.course__list--item:hover .course__img {
    transform: scale(1.02);
}

.course__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: var(--animation);
}

.course__list--item--info {
    padding: 23px 0;
    transition: var(--animation);
}

.course__list-name {
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
    color: var(--black);
}

.course__list-desc {
    margin-top: 18px;
    width: 268px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.71;
    color: var(--light-gray);
}

/* About */
.about {
    padding-top: 156px;
}

.about__inner {
    display: flex;
    position: relative;
    column-gap: 64px;
    padding-bottom: 83px;
}

.about__media {
    width: 57%;
}

.about__img-wrap {
    display: flex;
    column-gap: 21px;
    width: 286px;
    height: 480px;
    border-radius: 210px;
}

.about__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
}

.about__img:first-child {
    margin-top: 83px;
}

.about__decor {
    position: absolute;
    top: -21px;
    left: 48px;
}

.about__content {
    width: 43%;
    position: relative;
}

.about__media--block {
    font-family: "Public Sans", sans-serif;
    position: absolute;
    top: 417px;
    left: 457px;
    padding: 10px 17px;
    border-radius: 8px;
    background-color: var(--white);
    box-shadow: 0px 7px 54px rgba(154, 154, 154, 0.25);
}

.about__block-title {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1;
    color: var(--black);
}

.about__block-total {
    margin-top: 6px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4;
    color: var(--black-gray);
    opacity: 0.4;
}

.about__block-percent {
    position: relative;
    margin-top: 10px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4;
    color: var(--black);
}

.about__block-percent::before {
    position: absolute;
    display: inline;
    content: "";
    width: 100%;
    height: 2px;
    top: 17px;
    background: #eaeaea;
    border-radius: 10px;
}

.about__block-percent::after {
    position: absolute;
    display: inline;
    content: "";
    width: 40px;
    height: 2px;
    top: 17px;
    left: 0;
    background: #83a17d;
    border-radius: 10px;
}

.about__block-status {
    margin-top: 5px;
    text-align: right;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4;
    color: var(--black);
}

.about__content--team {
    display: flex;
    column-gap: 36px;
    align-items: center;
    margin-top: 4px;
}

.about__content--decor--big {
    margin-top: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #eaeaea;
}

.about__content--decor--small {
    width: 5px;
    height: 5px;
    background: var(--primary-color);
    border-radius: 50%;
}

.about__team--title {
    margin-top: 5px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4;
    color: var(--black);
}

.about__team--list {
    display: flex;
    align-items: center;
}

.about__team--item {
    width: 16px;
    height: 16px;
    padding: 1px;
    border-radius: 50%;
    margin-left: -6px;
    background-color: var(--white);
}

.about__team--avatar {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    object-fit: cover;
}

.about__label {
    margin-left: 42px;
}

.about__heading {
    margin-top: 20px;
    width: 483px;
    font-weight: 600;
    font-size: 4.2rem;
    line-height: 1.24;
    color: var(--black);
}

.about__content--desc {
    margin-top: 11px;
    width: 478px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.62;
    color: var(--light-gray);
}

.about__sub {
    display: flex;
    column-gap: 34px;
    align-items: center;
    margin-top: 36px;
}

.about__sub--percent {
    font-weight: 600;
    font-size: 4.2rem;
    line-height: 1.24;
    color: var(--black);
}

.about__sub--desc {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.71;
    color: var(--light-gray);
}

.about__line {
    margin-top: 20px;
    height: 1px;
    border: 1px solid #83a17d;
}

/* Process */
.process {
    padding-top: 115px;
}

.process__inner {
    position: relative;
}

.process-label {
    margin-left: 47px;
}

.process-heading {
    width: 477px;
    margin-top: 20px;
}

.process-heading::before {
    content: "";
    position: absolute;
    width: 66px;
    height: 2px;
    top: 80px;
    left: 394px;
    background: var(--black);
}

.process__list {
    margin-top: 81px;
}

.process__item--img {
    position: absolute;
    top: -58px;
    right: 92px;
    width: 450px;
    height: 444px;
    object-fit: cover;
}

.process__list--item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 155px;
    padding: 0 30px;
    border-bottom: 1px solid #83a17d;
    transition: var(--animation);
}

.process__list--item:hover {
    background: var(--light-green);
    border-radius: 33px;
    border-bottom: 1px solid transparent;
    border: none;
}

.process__list--item:hover .process__item--cta {
    display: block;
}

.process__item--number {
    font-weight: 600;
    font-size: 7.2rem;
    line-height: 0.72;
    color: var(--primary-color);
}

.process__item--wrap {
    margin-left: 64px;
}

.process__item--title {
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
    color: var(--black);
}

.process__item--cta {
    display: none;
    margin-top: 22px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1;
    color: var(--black-gray);
    text-decoration: underline;
}

.process__item--desc {
    width: 572px;
    height: 84px;
    font-family: "Public Sans", sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: var(--light-gray);
    margin-left: auto;
}

/*  Features */
.features {
    margin-top: 148px;
    background: var(--primary-color);
}

.features__inner {
    position: relative;
    padding-top: 116px;
}

.features__heading {
    width: 457px;
    color: var(--white);
}

.features__content--top {
    display: flex;
    justify-content: space-between;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}

.features__right--desc {
    width: 572px;
    color: var(--gray);
}

.features__right--link {
    display: block;
    margin-top: 13px;
    color: var(--white);
    transition: var(--animation);
}

.features__right--link:hover {
    color: #80a07b;
}

.features__right--link:hover .features__right-arrow {
    transform: translateX(20px);
    color: var(--white);
}

.features__right-arrow {
    margin-left: 18px;
    color: #80a07b;
    transition: var(--animation);
}

.features__media {
    margin-top: 65px;
    padding-bottom: 63px;
}

.features__video {
    width: 100%;
    border-radius: 22px;
}

.features__decor {
    position: absolute;
    top: 212px;
    right: -50px;
}

.features__decor:last-child {
    top: 130px;
    right: -65px;
}

/* Share */
.share {
    margin-top: 70px;
    padding-top: 70px;
}

.share__content--top {
    text-align: center;
}

.share__heading {
    margin-left: auto;
    margin-right: auto;
    width: 520px;
    font-weight: 600;
    font-size: 4.2rem;
    line-height: 1.24;
    color: var(--black);
}

.share__desc {
    margin: 20px auto 0 auto;
    width: 547px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.62;
    color: var(--light-gray);
}

.share__list {
    margin-top: 103px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.share__list--item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    column-gap: 45px;
    width: 350px;
    height: 362px;
    border: 1.5px solid #cecece;
    border-radius: 160px;
    transition: var(--animation);
}

.share__list--item:hover {
    transform: translateY(-59px);
    background: var(--white);
    box-shadow: 0px 36px 100px rgba(111, 120, 111, 0.2);
    border: inherit;
}

.share__item--title {
    margin-top: 23px;
    font-weight: 600;
    font-size: 2rem;
    line-height: 1;
    color: var(--black);
}

.share__item--desc {
    margin-top: 12px;
    padding: 0 30px;
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--light-gray);
    text-align: center;
    line-height: 1.71;
}

/* Blog */
.blog {
    margin-top: 92px;
}

.blog__inner {
    padding-top: 92px;
}

.blog__label {
    margin-left: 44px;
}

.blog-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog__heading {
    max-width: 520px;
    position: relative;
}

.blog__heading::before {
    content: "";
    position: absolute;
    width: 66px;
    height: 2px;
    top: 80px;
    right: 0;
    background: var(--black);
}

.blog__desc {
    max-width: 409px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    color: var(--light-gray);
}

.blog__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    margin-top: 90px;
}

.blog-item {
    border-radius: 40px 40px 0px 0px;
    transition: var(--animation);
}

.blog-item:hover {
    background: #ffffff;
    box-shadow: 0px 12px 74px rgba(91, 91, 91, 0.25);
    border-radius: 40px 40px 20px 20px;
}

.blog-item:hover .blog-item__info {
    padding: 26px 30px 12px 30px;
}

.blog-item:hover .blog-info__stories {
    color: var(--light-green);
    background: var(--primary-color);
}

.blog-item__img {
    width: 100%;
    height: 317px;
    object-fit: cover;
    border-radius: 40px 40px 0px 0px;
}

.blog-item__info {
    padding: 26px 30px 12px 0;
    transition: var(--animation);
}

.blog-info__stories {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 107px;
    height: 26px;
    background: var(--light-green);
    border-radius: 99px;

    font-weight: 500;
    font-size: 1rem;
    line-height: 1.2;
    color: #000000;
    transition: var(--animation);
}

.blog-info__title {
    display: block;
    padding: 0 10px 10px 0;
    margin-top: 13px;

    min-height: 90px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: var(--primary-color);
}

.blog-info__time {
    padding-top: 16px;
    position: relative;
    display: block;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.2;
    color: var(--black-gray);
    text-align: right;
}

.blog-info__time::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    top: 0;
    left: 0;
    background: #c4c4c4;
}

/* Footer */
.footer {
    margin-top: 102px;
    padding-bottom: 50px;
    background: var(--primary-color);
}

.footer__inner {
    display: flex;
    justify-content: space-between;
}

.footer__heading {
    margin-top: 72px;
    font-weight: 500;
    font-size: 3.2rem;
    color: var(--white);
}

.subscribe-form__input {
    margin-top: 25px;
    width: 319px;
    height: 40px;
    padding-right: 15px;
    border: none;
    outline: none;
    color: var(--white);
    background: transparent;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
}

.footer__submit--btn {
    background: transparent;
    border: none;
    color: #c4c4c4;
    cursor: pointer;
    transition: var(--animation);
}

.footer__submit--btn:hover {
    color: var(--white);
}

.footer__left--line {
    width: 354px;
    height: 1px;
    background: var(--gray);
}

.social-list {
    margin-top: 47px;
    display: flex;
    column-gap: 22px;
}

.social-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    color: #fbfbfb;
    border-radius: 50%;
    border: 1px solid #265252;
    transition: var(--animation);
}

.social-item:hover {
    background: #a75325;
}

.footer__row {
    margin-top: 94px;
    display: flex;
    column-gap: 50px;
    font-family: "Public Sans", sans-serif;
}

.footer__column--title {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: var(--white);
    padding-bottom: 15px;
    transition: var(--animation);
}

.footer__link {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.25;
    color: var(--gray);
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__line {
    margin-top: 45px;
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, #143c3c 2.28%, #295a5a 55.65%, rgba(38, 82, 82, 0) 102.06%);
}
